<div fxLayout="row" fxFlex="100">
  <section fxFlex="50">
  <div class="banner-login">
    <div fxLayout="column">
      <span class="item-1">`Lorem ipsum dolor sit amet consectetur adipisicing elit.
             Neque maxime voluptate expedita dolore minima velit quia voluptatem a dolorum corporis nihil,
             nam molestias ab animi perspiciatis laborum dicta dignissimos iusto? `
      </span>
      <span class="item-2">`Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Neque maxime voluptate expedita dolore minima velit quia voluptatem a dolorum corporis nihil,
          nam molestias ab animi perspiciatis laborum dicta dignissimos iusto? `
   </span>
    </div>
  </div>
  </section>
  <section>
      <app-login-access></app-login-access>
  </section>
  
</div>
